.wrapPage{
    
    width: 100%;
    height: auto;
}
.imageApi{
    margin-top: 70px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.logoApi{
  margin-top: 10px;
    width: 100%;
    height: auto;
   
}

.titleApi{
    margin: 0;
    margin-bottom: 2%;
    align-items: center;
    text-align: center;
    color: rgb(251, 192, 45);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapCards{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
gap: 3rem;
padding-bottom: 3rem;

}

.containerInput{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
}


@media (min-width: 800px) {
    .imageApi{
        margin-top: 110px;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .logoApi{
    
        width: 780px;
        height: auto;
    }

}


@media (min-width: 600px) {

    .titleApi{
        margin: 0;
        margin-bottom: 2%;
        align-items: center;
        text-align: center;
        color: rgb(251, 192, 45);
        font-weight: 900;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  
}

@media (min-width: 1666px){
    .wrapCards{
        padding-left: 10%;
        padding-right: 10%;
        
        }
 
}


